/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 2.5em;
  }

  header p {
    margin: 10px 0 0;
    font-size: 1.2em;
  }

  nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 1.1em;
  }

  nav a:hover {
    color: #00a3ff;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
  }

  .card h3 {
    margin: 0 0 10px;
    color: #333;
  }

  .card p {
    margin: 0 0 15px;
    color: #555;
  }

  .card .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #00a3ff;
    color: #00a3ff;
    font-size: 24px;
  }

  .card .price-discount {
    color: #00a3ff;
    font-size: 15px;
  }

  .card button {
    margin: 15px;
    background: #3498db;
    color: #0a192f;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .card button:hover {
    background: #2980b9;
  }

  /* Page List */
.pagination {
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 10px;
}

.pagination a {
  display: inline-block;
}

.pagination img {
  width: 100px;
  height: 56px;
  object-fit: contain;
  max-width: auto;
  padding: 10px;
  margin: 5px;
  background-color: #00a3ff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: transform 0.3s;
}

.pagination img:hover {
  transform: translateY(-2px);
  border: 2px solid #3da7d8;
  background-color: #3ab7ff;
  box-shadow: 0 5px 15px rgba(0, 163, 255, 0.2);
}

.pagination img.active {
  transform: translateY(-1px);
  border: 2px solid #3da7d8;
  background-color: #3ab7ff;
  box-shadow: 0 5px 15px rgba(0, 163, 255, 0.2);
}

 